* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

summary {
    display: block;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $sizeWidthSite / 2);
    padding-right: calc(50% - $sizeWidthSite / 2);
}