@media (max-width: 767px) {

    .center {
        padding-left: 5%;
        padding-right: 5%;
    }

    .header__link-site, .trash{

        display: none;
    }

    .top_head {

        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .filter_sort {

        gap:0;
        justify-content: space-between;

        &_filter {

            &_summary{

                &_span {

                    display: none;
                }

                svg {

                    width: 37.5px;
                    height: 25px;
                }
            }
        }

        &_sort {

            &_heading {

                font-size: 12px;

            }
        }
    }

    .product_img {

        padding: 85px 0 85px 0px;

        &_photo {
            
            width: 374px;
            height: 454px;
        }

    }

    .promo {

        justify-content: center;
        margin-bottom: 64px;

        &__img {

            display: none;
        }

        &__title {

            font-size: 38px;
        }
    
        &__heading {
    
            font-size: 20px;
        }
    }

    .sale {

        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-bottom: 64px;

        &__item {

            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
        }

        &__item_big {

            min-height: 111px;
        }
    }

    .product-box {

        padding-bottom: 96px;

        &__text {
                
            margin-bottom: 65px;
        }
    }

    .feedback {
        gap: 95px;
        padding-bottom: 109px;
    }

    .footer {
        height: 143px;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        gap: 40px;
    }

}