@import 'vars';
@import 'mixins';


.top_head {

    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F3F4;;

    &_heading {

        @include txt(24px, 400, normal, $colorTypical);
    }

    &_link {

        @include txt(14px, 300, normal, #636363);

        &_site {

            @include txt(14px, 700, normal, $colorTypical);
        }
    }
}

.product_img {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0 42px 0px;
    background-color: #F7F7F7;

    &_arrow {
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.15);
        text-align: center;
    }

    &_arrow_left, &_arrow_right {
        margin-top: 8px;
    }
}

@import 'tablet';
@import 'mobile';