@import 'vars';
@import 'general';
@import 'mixins';
@import 'product';
@import 'catalog';


.box-content {
    overflow: hidden;
}

.header {

    min-height: 75px;
    background: $colorHeaderFooter;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__left {

        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
        gap: 41px;
    }
    
    &__right {

        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
        gap: 33px;
    }
    
    .trash {

        position: relative;

        &_enum {
            @include txt(12px, 400, normal, #FFF);
            display: table;
            position: absolute;
            width: 19px;
            height: 19px;
            flex-shrink: 0;
            background-color: $colorTypical;
            border-radius: 50%;
            right: -25%;
            top: -25%;
            text-align: center;
        }

        &_number{
            display: table-cell;
            vertical-align: middle;
        }
    }
}

#header__check {

    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked ~.nav {
        right: -$widthMenu;
    }
}

.nav {

    width: 232px;
    background-color: #FFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 0 0 34px;
    box-sizing: border-box;
    position: absolute;
    top: 75px;
    right: 0px;
    transition: right .3s;
    z-index: 1;

    &__heading {

        @include txt(14px, 700, normal, #000);
        margin-bottom: 24px;
    }

    &__title {

        @include txt(14px, 400, normal, $colorTypical);
    }

    &__title:hover {

        color: #6F6E6E;
    }

    &__list {

        margin: 12px 0 9px 0;
        list-style-type: none;
        transition-duration: 0.4s;
    }

    &__li {

        padding-bottom: 11px;
    }

    &__link {

        @include txt(14px, 400, normal, #6F6E6E);
        margin-left: 21px;
        transition-duration: 0.4s;
        margin-bottom: 11px;
    }

    &__link:hover {

        color: $colorTypical;
    }

}

.promo {

    min-height: 375px;
    display: flex;
    gap: 64px;
    background-color: #F1E4E6;
    margin-bottom: 64px;

    &__img {

        width: 50%;
        background-color: rgba(113, 103, 105, 0.08); 
        fill: rgba(113, 103, 105, 0.08);   
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &_rectangle{

        background-color: $colorTypical;
        width: 12px;
        height: 92px;
    }

    &__info {

        padding-left: 16px;
    }

    &__title {

        @include txt(48px, 900, normal, $colorHeaderFooter);
        line-height: 58px;
    }

    &__heading {

        @include txt(32px, 700, normal, $colorHeaderFooter);
        line-height: 38px;
    }

    .fashion_text {

        background-color: #F1E4E6;
        color: $colorTypical;
    }
}

.sale {

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 96px;

    &__item {

        position: relative;
        width: 100%;
    }

    &__content {

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__item_big {

        background-image: url('img/sibig.jpg');
        min-height: 180px;
        grid-column: 1 / -1;
    }

    .sale__text {

        @include txt(16px, 400, normal, #FFFFFF);
    }

    .sale__heading {

        @include txt(24px, 700, normal, $colorTypical);
    }
}

.product-box {

    padding-bottom: 96px;
    text-align: center;

    &__heading {

        @include txt(30px, 400, normal, $colorHeaderFooter);
        margin-bottom: 6px;
    }

    &__text {

        @include txt(14px, 400, normal, #9F9F9F);
        margin-bottom: 48px;
    }

    &__content {

        display: grid;
        grid-template-columns: repeat(auto-fit, 360px);
        justify-content: center;
        gap: 30px;
    }

    .product {

        position: relative;
    }
    
    .product:hover .product__img {

        filter: brightness(0.5);
    }

    .product:hover .product__add {

        display: flex;
    }

    .product__add {

        position: absolute;
        top: 188px;
        left: 111px;
        border: 1px solid #fff;
        width: 139px;
        height: 44px;
        @include txt(14px, 400, normal, #FFFFFF);
        display: none;
        align-items: center;
        justify-content: center;
        gap: 11px;
    }

    .product__add:hover {

        box-shadow: 0 0 5px #fff;
    }

    .product__add:hover svg path {

        fill: $colorTypical;
    }

    .product__content {

        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 16px;
    }

    .product__heading {

        @include txt(13px, 400, normal, $colorHeaderFooter);
    }

    .product__text {

        @include txt(14px, 300, normal, #9F9F9F);
        text-align: left;
    }

    .product__price {
        @include txt(16px, 400, normal, $colorTypical);
    }

    .link_catalog {

        @include txt(16px, 400, normal, $colorTypical);
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        width: 212px;
        height: 48px;
        flex-shrink: 0;
        background-color: #FFF;
        border: 1px solid $colorTypical;
        transition-duration: 0.4s;
        text-align: center;
    }

    .text_catalog {

        margin-top: 15px;
    }

    .link_catalog:hover {

        color: #FFF;
        background-color: $colorTypical;
    }

}

.advantages {

    background-color: #222222;
    padding-top: 102px;
    padding-bottom: 102px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        justify-content: space-between;
    }

    &__heading {
        @include txt(20px, 400, normal, #FBFBFB);
    }

    .advantages__text {

        @include txt(14px, 300, normal, #FBFBFB);
        text-align: center;
    }

}

.feedback {

    background-image: url(img/photo_subscribe.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 86px 230px 126px 230px;
    &_left {
        width: 360px;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 40px;
    }

    &_left_text {
        @include txt(20px, 300, normal, $colorHeaderFooter);
        text-align: center;
    }

    &_right {
        display: flex;
        width: 360px;
        flex-flow: column;
    }

    &_title {

        @include txt(24px, 700, normal, $colorHeaderFooter);
        text-align: center;
    }

    &_subtitle {

        @include txt(18px, 400, normal, $colorHeaderFooter);
        text-align: center;
    }

    &__submit {
        display: flex;
        justify-content: center;
        padding-top: 32px;
    }

    .input__field {

        @include txt(14px, 400, normal, $colorHeaderFooter);
        background-color: #E1E1E1;
        border-radius: 50px;
        height: 46px;
        width: 32.3rem;
    }
    .sub__button {

        margin-left: -65px;
        width: 10rem;
        height: 49px;
        border-radius: 0px 40px 40px 0px;
        background-color: $colorTypical;
        @include txt(14px, 400, normal, #FFF);
        text-align: center;
    }
}

.footer {
    background-color: #222224;
    height: 79px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &_rights {
        @include txt(16px, 400, normal, #FBFBFB);
    }
    &_social {
        display: flex;
        gap: 0.73rem;
    }
    
    &_square {
        background-color: #FFF;
        width: 31.5px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &_square:hover {
        background-color: $colorTypical;
    }
    
    &r_network {
        height: 16px;
    }

}

@import 'tablet';
@import 'mobile';